<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="DetailView.css">
    <script type="text/javascript" src="DetailView.js"></script>
    <meta charset="utf-8">
    <title>Sheet2App</title>
</head>

<body>
    <div class="container">
        <!-- 顶层工具栏 -->
        <div class="top_tool_bar">
            <h1 class="web_logo">Sheet2App</h1>
            <p class="user_mark">&nbsp User &nbsp</p>
            <p class="top_bar_extention">&nbsp Extention &nbsp</p>
        </div>

        <!-- 工作区 -->
        <div class="work_space">

            <!-- 设置面板 -->
            <div class="detail_setting_panel">
                <p class="detail_title">Detail</p>
                <p class="detail_close">Close</p>
                <p>Save</p>
                <p>Delete</p>
            </div>

        </div>

        <!--  -->
    </div>
</body>
</html>