<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="DevView.css">
    <script type="text/javascript" src="DevView.js"></script>
    <meta charset="utf-8">
    <title>Sheet2App</title>
</head>

<body>
    <div class="container">
        <!-- 顶层工具栏 -->
        <div class="top_tool_bar">
            <h1 class="web_logo">Sheet2App</h1>
            <p class="user_mark">&nbsp User &nbsp</p>
            <p class="top_bar_extention">&nbsp Extention &nbsp</p>
        </div>

        <!-- 侧向工具栏 -->
        <nav>
            <!--进程调整条-->
            <div class="process_control_panel">
                <p>&nbsp undo &nbsp</p>
                <p>&nbsp Save &nbsp</p>
                <p>&nbsp redo &nbsp</p>
            </div>

            <p>&nbsp Add Column &nbsp</p>
            <p>&nbsp Delete Column &nbsp</p>
            <p>&nbsp Add Record &nbsp</p>
            <p>&nbsp Delete Record &nbsp</p>
        </nav>

        <!-- 工作区 -->
        <div class="work_space">
            <!-- 基础访问条 -->
            <div class="work_option_bar">
                <p>&nbsp Recent &nbsp</p>
                <p>&nbsp Database &nbsp</p>
            </div>

            <!-- 按访问时间排列 -->
            <div class = "App">
            </div>

            <!-- 数据库 -->
            <div class = "Database">
            </div>
        </div>
    </div>
</body>
</html>