<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="Home.css">
    <script type="text/javascript" src="Home.js"></script>
    <meta charset="utf-8">
    <title>Sheet2App</title>
</head>

<body>
    <div class="container">
        <!-- 顶层工具栏 -->
        <div class="top_tool_bar">
            <h1 class="web_logo">Sheet2App</h1>
            <p class="user_mark">&nbsp User &nbsp</p>
            <p class="top_bar_extention">&nbsp Extention &nbsp</p>
        </div>

        <!-- 侧向工具栏 -->
        <nav>
            <p>Create</p>
            <p>Recent</p>
            <p>Share</p>
        </nav>

        <!-- 工作区 -->
        <div class="work_space">
            <!-- 基础访问条 -->
            <div class="work_option_bar">
                <p>&nbsp Recent &nbsp</p>
                <p>&nbsp Apps &nbsp</p>
                <p>&nbsp Database &nbsp</p>
            </div>

            <!-- 按访问时间排列 -->
            <div class = "Recent">
                <p>&nbsp Name</p>
                <div class = "flex_contaner">

                    <!-- AppSheet元素 -->
                    <div class="App_sheet_element">
                        <div class="App_upper">
                            <p>AppSheet overview</p>
                            <p>AppSheet mark</p>
                        </div>

                        <div class="App_lower">
                            <p>AppSheet Sample_1</p>
                            <p>AppSheet date</p>
                            <p>Extent</p>
                        </div>
                    </div>

                    <div class="App_sheet_element">
                        <div class="App_upper">
                            <p>AppSheet overview</p>
                            <p>AppSheet mark</p>
                        </div>

                        <div class="App_lower">
                            <p>AppSheet Sample_3</p>
                            <p>AppSheet date</p>
                            <p>Extent</p>
                        </div>
                    </div>

                    <div class="App_sheet_element">
                        <div class="App_upper">
                            <p>AppSheet overview</p>
                            <p>AppSheet mark</p>
                        </div>

                        <div class="App_lower">
                            <p>AppSheet Sample_2</p>
                            <p>AppSheet date</p>
                            <p>Extent</p>
                        </div>
                    </div>

                </div>
            </div>

            <!-- 默认排列 -->
            <div class = "Apps">
                <section>
                    <li>Sample_1</li>
                    <li>Sample_2</li>
                    <li>Sample_3</li>
                </section>
            </div>

            <!-- 数据库 -->
            <div class = "Database">
                <section>
                    <li>Sample_1</li>
                    <li>Sample_2</li>
                </section>
            </div>
        </div>
    </div>
</body>
</html>